@media (max-width: 991px) {
      #navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px 0;
      }

      #navbar ul.active {
        display: flex;
      }

      #navbar ul li {
        padding: 10px;
        text-align: center;
      }

      #navbar ul li a {
        color: #fff;
      }

      #navbar .mobile-nav-toggle {
        display: block;
      }
    }


    #navbar ul li a:hover {
  color: green; 
}